.sidebar {
  width: 5rem;
  height: 86vh;
  background-color: #201d1de1;
  font-size: 15px;
}

.sidebar-menu {
  list-style: none;
  height: 100%;
}

.sidebar-menu-item {
  padding: 0px 10px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.icon-sidebar {
  width: 2.5rem;
  height: 2.5rem;
}

.sidebar-menu-link {
  text-decoration: none;
  color: #fff;
}
