#chart-frame {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1496450681664-3df85efbd29f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHdlYXRoZXJ8ZW58MHx8MHx8fDA%3D&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

#chart-frame::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1e1f43c5;
  opacity: 0.8;
}

#chart {
  position: relative;
  overflow-x: scroll;
  padding: 10px 0px;
}

.title {
  position: absolute;
  font-size: 1.5rem;
  top: 2%;
  color: white;
  text-align: center;
}

.x-axis {
  font-size: 0.9rem;
  color: white;
}

.y-axis {
  color: white;
  font-size: 0.9rem;
}

.tooltip {
  position: absolute;
  background: rgba(255, 255, 255, 0.11);
  padding: 0.5rem;
  color: #fff;
  border-radius: 0.5rem;
  transition: all 0.15s ease-in-out;
}

.cirlce-point {
  transition: all 0.15s ease-in-out;
}

.cirlce-point::before {
  padding: 2rem;
  content: " ";
}